<template>
    <div :class="[$route.path === '/fill-form' ? 'toolbar-wrapper': 'top toolbar-wraper']">
        <div id="toolbar" data-pages="1" data-form-id="1" v-if="$route.path == '/edit-form'">
            <div class="drag etalon">
                <div class="widget" @click="$parent.setEtalonStatus(true)"><b data-field-type="text" class="text"></b>Text Field</div>
                <vue-draggable-resizable
                        v-if="$parent.etalon.active"
                        class="text-tool"
                        :w="50"
                        :h="50"
                        :x="23"
                        :y="3"
                        :z="9999"
                        :resizable="false"
                        @dragstop="$parent.onEtalonDragstop"
                >
                </vue-draggable-resizable>
            </div>
            <div class="sep"></div>
            <div class="widget" @click="$parent.saveFields"><b class="far save"></b>Save Form</div>
            <div class="sep"></div>
            <router-link to="/" class="widget"><i class="fas fa-home"></i><br>Home</router-link>
        </div>
<!--        <div id="toolbar" data-pages="1" data-form-id="1" v-if="$route.path == '/fill-form'">
            <div class="widget" @click="$parent.saveValues(false)"><b class="far save"></b>Save Form</div>
            <div class="sep"></div>
            <div class="widget" @click="$parent.saveValues(true)"><i class="fas fa-print"></i><br>Print Form</div>
            <div class="sep"></div>
            <router-link to="/" class="widget"><i class="fas fa-home"></i><br>Home</router-link>
        </div>-->
        <div id="print-button" v-if="$route.path == '/fill-form'">
            <button class="print" @click="$parent.saveValues(true)">Print Form</button>
        </div>
    </div>
</template>
