<template>
    <div class="pages">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-12 page" v-for="(page, id) in pages" :ref="'page'+page.id"
                     @mouseover="setActivePage(page.id)">
                    <img :src="'/'+page.path" :alt="'page'+page.id" ref="docImage">
                    <vue-draggable-resizable
                            v-for="(field, element_id) in page.fields"
                            v-if="!field.delete && showFields"
                            :active="activeField==id+'-'+element_id"
                            :parent="false"
                            :w="field.relativeWidth"
                            :h="field.relativeHeight"
                            :x="field.relativeX"
                            :y="field.relativeY"
                            :z="999"
                            :minw="20"
                            :minh="20"
                            :id="'field'+field.id"
                            :key="id+'-'+element_id"
                            @resizestop="(left, top, width, height) => onResizestop(left, top, width, height, field.id, element_id)"
                            @dragstop="(left, top) => onDragstop(left, top, field.id, element_id)"
                            drag-handle=".drag"
                    >
                        <div class="activation-zone" @click.stop="clickOnField(element_id, id)" ref="activate"></div>
                        <div class="action drag" v-on:click.stop></div>
                        <div class="action remove" @click="removeField(element_id)"></div>
                    </vue-draggable-resizable>
                    <div class="animator active"
                         v-if="showAnimator && activePage && pages[activePage].fields"
                         :style="animatorStyle">
                        <div class="handle handle-tl"></div>
                        <div class="handle handle-tm"></div>
                        <div class="handle handle-tr"></div>
                        <div class="handle handle-mr"></div>
                        <div class="handle handle-br"></div>
                        <div class="handle handle-bm"></div>
                        <div class="handle handle-bl"></div>
                        <div class="handle handle-ml"></div>
                        <div class="action drag"></div>
                        <div class="action remove"></div>
                    </div>
                </div>
            </div>
        </div>
        <EditorToolbar></EditorToolbar>
    </div>
</template>

<script>
    import forms from '../mixins/forms'

    export default {
        data() {
            return {
                activeField: 0,
                activeStyleField: 0,
                showAnimator: true,
                etalon: {
                    active: true,
                    w: 50,
                    h: 50,
                    x: 23,
                    y: 3,
                }
            }
        },
        computed: {
          animatorStyle() {
              let style = {
                  display: 'none'
              };
              if( typeof  this.activeStyleField === 'string') {
                  const activeFieldId = this.activeStyleField.replace(this.activePage + '-', '');
                  style = {
                      left: this.pages[this.activePage].fields[activeFieldId].relativeX + 'px',
                      top: this.pages[this.activePage].fields[activeFieldId].relativeY + 'px',
                      width: this.pages[this.activePage].fields[activeFieldId].relativeWidth + 'px',
                      height: this.pages[this.activePage].fields[activeFieldId].relativeHeight + 'px',
                      zIndex: 10000
                  }
              }

              return style;
          }
        },
        mixins: [forms],
        methods: {
            setEtalonStatus(status) {
                this.etalon.active = status;
            },
            resetActiveField() {
                this.activeStyleField = 0;
                this.activeField = 0;
            },
            clickOnField(element_id, page_id) {
                this.showAnimator = true;
                setTimeout(() => {
                        this.activeStyleField = page_id + '-' + element_id;
                    },
                    10
                );
                setTimeout(() => {
                    this.activeField = page_id + '-' + element_id;
                    this.showAnimator = false;
                    },
                    410
                );

            },
            onResizestop(relativeX, relativeY, relativeWidth, relativeHeight, field_id, element_id) {
                this.pages[this.activePage].fields[element_id].relativeX = relativeX;
                this.pages[this.activePage].fields[element_id].relativeY = relativeY;
                this.pages[this.activePage].fields[element_id].relativeWidth = relativeWidth;
                this.pages[this.activePage].fields[element_id].relativeHeight = relativeHeight;

                this.setAbsolutesizes(relativeX, relativeY, element_id, relativeWidth, relativeHeight);
            },
            onDragstop(relativeX, relativeY, field_id, element_id) {
                this.pages[this.activePage].fields[element_id].relativeX = relativeX;
                this.pages[this.activePage].fields[element_id].relativeY = relativeY;

                this.setAbsolutesizes(relativeX, relativeY, element_id);
            },
            onEtalonDragstop(left, top) {
                if (top > 100) {
                    let toolbarOffset = document.getElementById('toolbar').offsetLeft,
                        scrollTopOffset = this.getScrollTop() - this.offsetTop

                    if (!this.pages[this.activePage].fields.length) {
                        this.pages[this.activePage].fields = []
                    }
                    this.pages[this.activePage].fields.push(
                        {
                            relativeX: left - this.offsetLeft + Number(toolbarOffset),
                            relativeY: top + Number(scrollTopOffset),
                            relativeWidth: 120,
                            relativeHeight: 20,
                            id: 0,
                            page_id: this.activePage
                        })
                    const newFieldIndex = this.pages[this.activePage].fields.length - 1;
                    this.clickOnField(newFieldIndex, this.activePage); // activate a new element after adding
                    this.setAbsolutesizes(
                        this.pages[this.activePage].fields[newFieldIndex].relativeX,
                        this.pages[this.activePage].fields[newFieldIndex].relativeY,
                        newFieldIndex,
                        this.pages[this.activePage].fields[newFieldIndex].relativeWidth,
                        this.pages[this.activePage].fields[newFieldIndex].relativeHeight
                    );
                }

                // Reset draggable etalon position
                this.etalon.active = false
                setTimeout(() => this.etalon.active = true, 500)


            },
            removeField(element_id) {
                this.pages[this.activePage].fields[element_id].delete = true
                this.activeField = 0
            },
            saveFields() {
                this.$root.showLoader = true;
                this.apiPost('save-fields', this.pages)
                    .then((response) => {
                            if (response.data.code === 200) {
                                this.$root.message = response.data.data
                            } else {
                                this.$root.error = response.data.data
                            }
                            this.$root.showLoader = false
                        },
                        (error) => {
                            console.log(error)
                            this.$root.showLoader = false
                        }
                    )
            },
            setAbsolutesizes(relativeX, relativeY, element_id, relativeWidth = null, relativeHeight = null) {
                const widthCorrelation = this.$refs.docImage[this.activePage - 1].naturalWidth / this.$refs.docImage[this.activePage - 1].width;
                const heightCorrelation = this.$refs.docImage[this.activePage - 1].naturalHeight / this.$refs.docImage[this.activePage - 1].height;
                this.pages[this.activePage].fields[element_id].x = parseInt(relativeX * widthCorrelation);
                this.pages[this.activePage].fields[element_id].y = parseInt(relativeY * heightCorrelation);
                if (relativeWidth) {
                    this.pages[this.activePage].fields[element_id].width = parseInt(relativeWidth * widthCorrelation)
                }
                if (relativeHeight) {
                    this.pages[this.activePage].fields[element_id].height = parseInt(relativeHeight * heightCorrelation)
                }
            }
        },
        mounted() {
            document.onselectstart = function () {
                return false;
            };
            $(document).on('click', '.handle', event => event.stopImmediatePropagation());
            document.addEventListener('click', this.resetActiveField);
            window.addEventListener('resize', this.resetActiveField)
        },
        beforeDestroy() {
            document.removeEventListener('click', this.resetActiveField)
        }
    }
</script>
