<template>
    <div class="pages">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-12 page" v-for="(page, id) in pages" :ref="'page'+page.id" @mouseover="setActivePage(page.id)">
                    <img :src="'/'+page.path" :alt="'page'+page.id" ref="docImage">
                    <input  type="text"
                            v-if="showFields"
                            v-for="(field, element_id) in page.fields"
                            :style="{
                                position: 'absolute',
                                width:  field.relativeWidth + 'px',
                                height: field.relativeHeight + 'px',
                                left:   field.relativeX + 'px',
                                top:    field.relativeY + 'px',
                            }"
                            v-model="pages[id].fields[element_id].value.value"
                            :id="'field'+field.id"
                            :key="field.id"
                            :maxlength="Number(field.relativeWidth/12).toFixed()"
                    >
                </div>
            </div>
        </div>
        <EditorToolbar></EditorToolbar>
    </div>
</template>

<script>
    import forms from '../mixins/forms'
    export default {
        data() {
            return {

            }
        },
        watch: {
            'pagesReady' : function() {
                this.imagesAreLoaded();
            }
        },
        mixins: [forms],
        methods: {
            saveValues(print){
                this.$root.showLoader = true
                this.apiPost('save-values', this.pages)
                    .then((response) => {
                            if (response.data.code === 200) {
                                if(print){
                                    window.location.href = '/api/v1/print'
                                }else {
                                    this.$root.message = response.data.data
                                }
                            } else {
                                this.$root.error = response.data.data
                            }
                            this.$root.showLoader = false
                        },
                        (error) => {
                            console.log(error)
                            this.$root.showLoader = false
                        }
                    )
            }
        }
    }
</script>
