<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="container">
                <div class="row justify-content-center main-toolbar">
                    <div class="col-12 form-group">
                        <button class="btn" @click='importPdf'
                                title="Multipage PDF supported">Upload From
                        </button>
                        <input type="file" class="hide"
                               @change='uploadPdf($event.target.files); fileCount = $event.target.files.length'
                               ref="pdfImport" accept=".pdf">
                    </div>
                    <div class="col-12 form-group">
                        <router-link to="/edit-form" class="btn btn-secondary">Edit Form</router-link>
                    </div>
                    <div class="col-12 form-group">
                        <router-link to="/fill-form" class="btn btn-secondary">Fill Form</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            importPdf() {
                this.$refs.pdfImport.click()
            },
            uploadPdf(fileList) {
                const formData = new FormData()
                if (!fileList.length) return
                Array
                    .from(Array(fileList.length).keys())
                    .map(x => {
                        formData.append('pdf', fileList[x], fileList[x].name)
                    })

                this.$root.showLoader = true
                this.apiPost_File('pdf-import', formData)
                    .then((response) => {
                            if (response.data.code === 200) {
                                this.$root.message = response.data.data
                            } else {
                                this.$root.error = response.data.data
                            }

                            // Reset file field after the upload
                            this.$refs.pdfImport.value = ''
                            this.$root.showLoader = false
                        },
                        (error) => {
                            // Reset file field after the upload
                            this.$refs.pdfImport.value = ''
                            this.$root.showLoader = false
                        }
                    )
            },
        },
        mounted() {
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        }
    }
</script>
