html, body {
    background-color: $body-bg;
    color: $text;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    min-width: 320px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
    margin: 0 35px 0 30px;
}

.hide {
    display: none;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main-toolbar {
    min-width: 200px;
}

.modal-dialog {
    margin: 9rem auto !important;
}