.page {
    border: 1px solid $gray;
    margin: 20px 0;
    background: $white;
    box-shadow: 2px 2px 5px $gray;
    position: relative;
    user-select: none;
    img {
        //width: 1140px;
        width: 100%;
        min-width: 1000px;
        height: auto;
    }

    .vdr,
    .animator {
        background: rgba(0,123,255,0.2);
        position: relative;
        .action {
            display: none;
            top: -33px;
            height: 16px;
            width: 16px;
            padding: 10px;
            border: 1px solid #999;
            border-radius: 10px;
            background-color: #eee;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            &.drag {
                cursor: move;
                background-image: url(../images/icons/transform_move.png);
                left: -25px;

            }
            &.remove {
                background-image: url(../images/icons/cross.png);
                right: -25px;
            }
        }
        &.active {
            .action {
                display: block;
            }
        }
        .activation-zone {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .handle[data-v-1e95fd0f] {
            border-radius: 5px;
        }
    }

    .animator {
        position: absolute;
        transition: all 0.4s;
        transition-timing-function: cubic-bezier(0.68, -0.15, 0.265, 1.25);
        .handle {
            box-sizing: border-box;
            position: absolute;
            width: 10px;
            height: 10px;
            font-size: 1px;
            background: #EEE;
            border: 1px solid #333;
            border-radius: 5px;
            &.handle-tl {
                top: -10px;
                left: -10px;
                cursor: nw-resize;
            }
            &.handle-tm {
                top: -10px;
                left: 50%;
                margin-left: -5px;
                cursor: n-resize;
            }
            &.handle-tr {
                top: -10px;
                right: -10px;
                cursor: ne-resize;
            }
            &.handle-ml {
                top: 50%;
                margin-top: -5px;
                left: -10px;
                cursor: w-resize;
            }
            &.handle-mr {
                top: 50%;
                margin-top: -5px;
                right: -10px;
                cursor: e-resize;
            }
            &.handle-bl {
                bottom: -10px;
                left: -10px;
                cursor: sw-resize;
            }
            &.handle-bm {
                bottom: -10px;
                left: 50%;
                margin-left: -5px;
                cursor: s-resize;
            }
            &.handle-br {
                bottom: -10px;
                right: -10px;
                cursor: se-resize;
            }
        }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            [class*="handle-"]:before {
                content: '';
                left: -10px;
                right: -10px;
                bottom: -10px;
                top: -10px;
                position: absolute;
            }
        }
    }

    input[type=text],
    textarea {
        background: #99CCFF;
        resize: none;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        border: none;
        padding: 0 5px;
        &:focus {
            background: #fff;
        }
    }
}

.vdr.text-tool {
    box-shadow: 0 0 1px #777;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px auto;
    background-color: transparent;
    &.dragging {
        background-color: rgba(255,255,255,0.75);
        border-color: #999;
    }
}


.main-toolbar {
    padding-top: 20px;
    .form-group {
        margin-bottom: 20px;
        button,
        a.btn {
            width: 200px;
            clear: both;

            display: inline-block;
            padding: 2px 10px 3px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 28px;
            color: #555;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
            background-color: #fafafa;
            background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
            background-repeat: no-repeat;
            border: 1px solid #ccc;
            border-bottom-color: #bbb;
            border-radius: 4px;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            *margin-left: .3em;
            &:hover {
                color: #333333;
                text-decoration: none;
                background-color: #e6e6e6;
                background-position: 0 -15px;
                transition: background-position 0.1s linear;
            }
            &:focus {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }
            &.active, &:active {
                background-image: none;
                box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
                background-color: #e6e6e6;
                background-color: #d9d9d9 \9
            ;
                color: rgba(0, 0, 0, 0.5);
                outline: 0;
            }
            .btn.disabled, .btn[disabled] {
                cursor: default;
                background-image: none;
                background-color: #e6e6e6;
                opacity: 0.65;
                filter: alpha(opacity=65);
                box-shadow: none;
            }
        }
    }
}