.toolbar-wraper {
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    z-index: 9999;
    min-width: 320px;
    &.top {
        top: 0;
    }
    &.bottom {
        bottom: 0;
    }
    #toolbar  {
        border: 1px solid #ccc;
        border-top: none;
        position: relative;
        z-index: 10;
        top: 0;
        border-radius: 0 0 15px 15px;
        padding: 3px 5px 7px;
        background-color: #f4f4f4;;
        box-shadow: 0 1px 1px #777;
        padding-right: 15px;
        display: inline-block;

        div,
        b {
            display: block;
        }
        .sep {
            border: 1px dashed #AAAAAA;
            display: inline-block;
            height: 66px;
            margin-top: 2px;
            width: auto;
        }
        .drag {
            display: inline-block;
            &:hover {
                b {
                    box-shadow: none;
                    background-color: #e0922f;
                    color: #fff;
                }
            }
        }
        .text {
            background-image: url(../images/icons/textfield.png);
        }
        .save {
            background-image: url(../images/icons/save.png);
        }
        .widget  {
            width: 85px;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            color: #797979;
            padding-bottom: 5px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 18px;
            &.auto {
                width: auto;
            }
            b,
            i {
                background-repeat: no-repeat;
                background-position: center center;
                box-shadow: 0 0 1px #777;
                width: 50px;
                height: 50px;
                border: 1px solid #999;
                border-radius: 50px;
                background-color: #fff;
                cursor: pointer;
                margin: 10px auto;
            }
            &:hover {
                text-decoration: none;
            }
        }

        b,
        i {
            &:hover {
                box-shadow: none;
                background-color: #e0922f;
                color: #fff;
            }
            &.pages {
                font-size: 14px;
                margin: 1px 3px 0 3px;
                padding: 0 10px;
                border-radius: 10px;
                background-color: #fff;
                border: 1px solid #ddd;
                position: relative;
                top: -15px;
                height: 25px;
                line-height: 25px;
            }
        }
        i {
            line-height: 46px;
            font-size: 26px;
        }
    }
}

#print-button {
    position: fixed;
    left: 50%;
    margin-left: -100px;
    bottom: 50px;
    z-index: 10000;
    button {
        position: absolute;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        font-weight: normal;
        line-height: 18px;
    }
}


