<template>
    <div class="modal fade message-modal row text-center" :class="{success: $root.message, error: $root.error}" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="bsModalLabel" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <h4 v-html="$root.message"></h4>
                        </div>
                        <div class="col-12">
                            <h4 v-html="$root.error"></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block btn-flat" @click="closeMessageModal()">Close</button>
                </div>
            </div>
        </div>


    </div>
</template>


<script>
    export default {
      mounted () {
        setTimeout(() => {
          this.closeMessageModal()
        }, 5000)
      }
    }
</script>

